body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  margin: 20px;
}
.btn {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}
.mm-popup__btn,
.mm-popup__btn--info,
.mm-popup__btn--danger {
  margin: 5px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.mm-popup__btn {
  background-color: #007bff;
  color: white;
}
.mm-popup__btn--info {
  background-color: #28a745;
  color: white;
}
.mm-popup__btn--danger {
  background-color: #e74c3c;
  color: white;
}